// $topnav-background-color: #222;
// :host {
//     display: block;
// }
// .login-page {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     overflow: auto;
//     background: linear-gradient(to bottom, #000428, #004e92);
//     text-align: center;
//     color: #fff;
//     padding: 3em;
//     .col-lg-4 {
//         padding: 0;
//     }
//     .input-lg {
//         height: 46px;
//         padding: 10px 16px;
//         font-size: 18px;
//         line-height: 1.3333333;
//         border-radius: 0;
//     }
//     .input-underline {
//         background: 0 0;
//         border: none;
//         box-shadow: none;
//         border-bottom: 2px solid rgba(255, 255, 255, 0.5);
//         color: #fff;
//         border-radius: 0;
//     }
//     .input-underline:focus {
//         border-bottom: 2px solid #fff;
//         box-shadow: none;
//     }
//     .rounded-btn {
//         -webkit-border-radius: 50px;
//         border-radius: 15px;
//         color: rgba(255, 255, 255, 0.8);
//         background: $topnav-background-color;
//         border: 2px solid rgba(255, 255, 255, 0.8);
//         font-size: 18px;
//         line-height: 40px;
//         padding: 0 25px;
//     }
//     .rounded-btn:hover,
//     .rounded-btn:focus,
//     .rounded-btn:active,
//     .rounded-btn:visited {
//         color: rgba(255, 255, 255, 1);
//         border: 2px solid rgba(255, 255, 255, 1);
//         outline: none;
//     }

//     h1 {
//         font-weight: 300;
//         margin-top: 20px;
//         margin-bottom: 10px;
//         font-size: 36px;
//         color: #fff;
//         small {
//             color: rgba(255, 255, 255, 0.7);
//         }
//     }

//     .form-group {
//         padding: 8px 0;
//         input::-webkit-input-placeholder {
//             color: rgba(255, 255, 255, 0.6) !important;
//         }

//         input:-moz-placeholder {
//             /* Firefox 18- */
//             color: rgba(255, 255, 255, 0.6) !important;
//         }

//         input::-moz-placeholder {
//             /* Firefox 19+ */
//             color: rgba(255, 255, 255, 0.6) !important;
//         }

//         input:-ms-input-placeholder {
//             color: rgba(255, 255, 255, 0.6) !important;
//         }
//     }
//     .form-content {
//         padding: 40px 0;
//     }
//     .user-avatar {
//         -webkit-border-radius: 50%;
//         border-radius: 50%;
//         border: 2px solid #fff;
//     }
// }

.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // overflow: auto;
  background: linear-gradient(to bottom, #000428, #004e92);
  text-align: center;
  padding-top: 8rem;
  .login-form {
    width: 385px;
    margin: 30px auto;
  }
  // .login-form form {
  //   margin-bottom: 15px;
  //   background: #f7f7f7;
  //   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  //   padding: 30px;
  // }
  // .login-form h2 {
  //   margin: 0 0 15px;
  // }
  .form-control {
    min-height: 45px;
    border-radius: 2px;
    font-size: 14px;
    font-family: system-ui;
  }
  .input-group-addon {
    width: auto;
  }
  .input-group-prepend span {
    width: 50px;
    background-color: #edca1a;
    color: white;
    border: 0 !important;
  }
  .input-group-addon .fa {
    font-size: 18px;
    margin: 5px 0px;
  }
  .login-btn {
    font-size: 15px;
    font-weight: bold;
  }
  .login_btn{
    color: white;
    background-color: #045491;
    width: 385px;
    }
    
    .login_btn:hover{
    color: white;
    background-color: #014e88;
    }
  img {
    width: 100px;
    height: 100px;
    padding-top: 3rem;
  }
    
}
