/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//all styles here

ion-content {
  ion-list {
    ion-item {
      &.notif-item {
        background: #2597ee;
      }
    }
  }

  &.bg-color {
    // background: linear-gradient(to bottom, #000046, #1cb5e0);
    background: linear-gradient(to bottom, #000428, #004e92);
  }

  ion-grid {
    ion-row {
      &.row-label-btn {
        margin-left: 8.5rem;
      }
    }
  }

  ion-card {
    &.card-login {
      background: #ffffff;
      height: 8rem !important;
      border-radius: 25px !important;
    }
    ion-card-content {
      &.card-content-mt-md {
        margin-top: -1rem !important;
      }
    }
  }

  .font-label {
    color: #ffffff;
    font-weight: bold;
  }

  .loginBtn {
    border-radius: 25px !important;
    height: 40px;
  }

  .form-control {
    margin-top: 1rem;
    border-radius: 25px !important;
  }

  img {
    &.capyot-logo {
      width: 2rem;
      height: 2.5rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 7rem;
    }
    &.menu-profile {
      width: 7rem;
      height: 7rem;
      display: block;
      margin: 0 auto;
    }
  }
  .margin-left {
    margin-left: 1rem;
  }

  .facebook-logo {
    height: 3rem;
    width: 3rem;
    border-radius: 30px;
  }

  .sms_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }

}

ion-header {
  ion-toolbar {
    &.header {
      --background: #064676;
      color: #ffffff;
      height: 3.5rem;
      padding: 0px 7px 9px 18px;
    }
    .profile {
      height: 2rem;
      width: 2rem;
      margin-top: 0.85rem;
      margin-right: 1rem;
    }
    .capyot-logo-home {
      width: 30%;
      height: 35%;
    }

    ion-icon {
      font-size: x-large;
      color: #ffffff;
    }

    ion-buttons {
      margin-left: 9rem;
    }
    ion-badge {
      position: absolute;
      top: 0.1rem;
      right: 0.5rem;
    }
  }
}
